<!DOCTYPE html>
<html>
  <head>
    <title>event Detail</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <h1>Event Detail</h1>
      <form action="/events/edit/<%=event._id%>" method="post">
        <table>
          <tbody>
          <tr>
              <td>Id</td>
              <td>:</td>
              <!-- Como o id não pode ser alterado usamos o input hidden para o enviar como campo do formulário. -->
              <td><input type="hidden" name="_id" id="_id" value="<%= event._id %>"><%= event.nome %></td>
              </tr>

              <tr>
                <td>Nome</td>
                <td>:</td>
                <td><input type="text" name="nome" id="nome" required value="<%= event.nome %>"></td>
              </tr>

          <tr>
              <td>Desc</td>
              <td>:</td>
              <td><input type="text" name="desc" id="desc" required value="<%= event.desc %>"></td>
            </tr>
            
            <tr>
              <td>nbilhetes</td>
              <td>:</td>
              <td><input type="number" name="n_bilhetes_restantes" id="n_bilhetes_restantes" required value="<%= event.n_bilhetes_restantes %>"></td>
            </tr>
            <tr>
              <td>preco</td>
              <td>:</td>
              <td><input type="number" name="preco" id="preco" required value="<%= event.preco %>"></td>
            </tr>
          
            
            <tr>
              <td colspan="2"><button type="submit">Edit</button></td>
            </tr>
          </tbody>
        </table>
    </form>
    </div>
    <h3><a href="/events">Ver todos os event</a></h3>
    <h3><a href="javascript: history.back()">Voltar atrás</a></h3>
  </body>
</html>

