<!DOCTYPE html>
<html>
  <head>
    <title>event List</title>
  </head>
  <body>
    <div class="container">
      <h1>Event List</h1>
      <% if(events.length>0) { %>
        <table class="list-table">
          <thead>
            <tr>
              <th>#</th>
              <th>Id</th>
              <th>nome evento</th>
              <th>desc</th>
              <th>n bilhetes</th>
              <th>preco</th>
              <th>Detalhes</th>
              <th>Editar</th>
              <th>Eliminar</th>
            </tr>
          </thead>
          <tbody>

            <% for(var i=0; i<events.length;i++) { %>
              <tr>
                <td> <%=i%> </td>
                <td> <%=events[i]._id%></a></td>
                <td> <%=events[i].nome%></a></td>
                <td> <%=events[i].desc%></a></td>
                <td> <%=events[i].n_bilhetes_restantes%></a></td>
                <td> <%=events[i].preco%></a></td>
               >
                <td><a href="/events/show/<%= events[i]._id%> "> Ver </td>
                <td><a href="/events/edit/<%= events[i]._id%> "> Editar </a></td>
                <td><a href="/events/delete/<%= events[i]._id%> "> Eliminar </a></td>
              </tr>
            <% } %>
          </tbody>
        </table>
      <% } else { %>
        <div>No events found.</div>
      <% } %>
    </div>
    <h3><a href="/events/create">Create a new event</a></h3>
    <h3><a href="javascript: history.back()">Voltar atrás</a></h3>
  </body>
</html>