<!DOCTYPE html>
<html>
  <head>
    <title>Account Detail</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <h1>Account Detail</h1>
      <form action="/accounts/edit/<%=account._id%>" method="post">
        <table>
          <tbody>
          <tr>
              <td>Id</td>
              <td>:</td>
              <!-- Como o id não pode ser alterado usamos o input hidden para o enviar como campo do formulário. -->
              <td><input type="hidden" name="_id" id="_id" value="<%= account._id %>"><%= account.name %></td>
              </tr>

              <tr>
                <td>e-mail</td>
                <td>:</td>
                <td><input type="text" name="email" id="email" value="<%= account.email %>"></td>
              </tr>

          <tr>
              <td>Name</td>
              <td>:</td>
              <td><input type="text" name="name" id="name" value="<%= account.name %>"></td>
            </tr>
            
            <tr>
              <td>Password</td>
              <td>:</td>
              <td><input type="text" name="password" id="password" value="<%= account.password %>"></td>
            </tr>

            <tr>
              <td>Tipo</td>
              <td>:</td>
              <td>
                <select name="tipo" id="tipo" value="<%= account.tipo %>">
                  <option value="user">user</option>
                  <option value="promotor">promotor</option>
                  <option value="admin">admin</option>
                </select></td>
            </tr>
            
            <tr>
              <td colspan="2"><button type="submit">Edit</button></td>
            </tr>
          </tbody>
        </table>
    </form>
    </div>
    <h3><a href="/accounts">Ver todos os account</a></h3>
  </body>
</html>

